{% load static %}
<div class="container">
    <div class="row">
        
       
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>
        
    </div>
    <div class="row">
        
       
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/ss.jpg' %}">
                <p class="card-block">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam velit quisquam veniam excepturi temporibus inventore corporis dicta sit culpa veritatis placeat earum!
                </p>
            </div>
        </div>
        
    </div>
</div>
