{% extends 'base.html' %}

{% load static %}
{% block title %}search{% endblock %}
{% block content %}
        <div class="mt-5">
          {% if blog %}
            <h4 class="text-center alert alert-info">searched data</h4>
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                        {% for b in blog %}
                    <tr>
                        <td>{{ b.title }}</td>
                        <td>{{ b.desc }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
          {% else %}
                                                                                                      
            {% include 'card.html' %}
            
                                        

          {% endif %}
        </div>

        </div>

       
{% endblock %}













      












</body>
</html>